.check_bg{
    position: relative;
    background-color: #F66FCF;
    width:25rem;
    height: 22rem;
    z-index: 10;
}

.check_white{
    position: absolute;
    background-color: white;
    width:18.5rem;
    height: 15.5rem;
    top:1.8rem;
    left:1rem;
}


.check_yello_shadow{
    position: absolute;
    background-color: black;
    width:17rem;
    height: 10rem;
    top:8.5rem; 
    left: 1rem;   
}

.check_yello{
    position: absolute;
    background-color: #F7FF1A;
    width:17rem;
    height: 10rem;
    top:-1rem;
    left: -1rem;
    word-wrap: break-word;
}



.today_content{
    font-size: 3rem;
}

.check_month_shadow{
    position: absolute;
    background-color: black;
    width:5rem;
    height: 5rem;
    right:4.49rem;
    top:-1rem;
    color: white;
    font-size: 5rem;

}

.check_month{
    position: absolute;
    background-color: #F7FF1A;
    width:5rem;
    bottom:1rem;
    right: 1rem;
    height: 5rem;
    color: white;
    font-size: 5rem;
}
.check_month_content{
    display: flex;
    width: 100%; 
    height: 100%;
    justify-content: center;
    align-items: center;
}

.check_day_shadow{
    position: absolute;
    background-color: black;
    width:4.5rem;
    height: 5rem;
    right:0.5rem;
    top:2.6rem;
    color: white;
    font-size: 5rem;   
}

.check_day{
    position: absolute;
    background-color: #F7FF1A;
    width:4rem;
    height: 5rem;
    left:-0.5rem;
    top:-1rem;
    color: white;
    font-size: 5rem;   
}

.check_day_content{
    display: flex;
    width: 100%; 
    height: 100%;
    justify-content: center;
    align-items: center;
}
.checkIcon{
    background: none;    /* 移除背景 */
    border: none;        /* 移除邊框 */
    padding: 0;          /* 移除內距 */
    cursor: pointer;     /* 滑鼠移上去變手指形狀 */
}

.checkIcon_shadow{
    position: absolute;
    display: flex;
    height: 2.8rem;
    width:3.1rem;
    top:3rem;
    left:3rem;
    background-color: black;
}
.checkIcon_shadow:focus{
    all:initial;
    position: absolute;
    transition: transform 0.2s ease;
}

.checkIcon_shadow:active{
    transform: scale(0.9);
}

.checkIcon{
    position: absolute;
    top:-0.5rem;
    left:-0.5rem;
    display: flex;
    height: 2.7rem;
}

.checkIcon:focus{
    all:initial;
    position: absolute;
    top:-0.5rem;
    left:-0.5rem;
    transition: transform 0.1s ease;
}

.checkIcon:active{
    transform: scale(0.9);
}

.accumulat_days{
    position: absolute;
    display: flex;
    background-color: #F66FCF;
    color: white;
    top: 5rem;
    left:13rem;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 2rem;
    font-size: 1.3rem;
}

.check_bg_shadow{
    position: absolute;
    background-color: black;
    margin-top: 2rem;
    margin-left: 2rem;
    width:25rem;
    height: 22rem;
}

