.containerRecord {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #f7ff1a;
}
.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.username {
  position: absolute;
  width: 5rem;
  height: 19rem;
  left: 20rem;
  top: -3rem;

  font-family: "Jockey One";
  font-style: normal;
  font-weight: 40rem;
  font-size: 4rem;
  line-height: 10rem;

  z-index: 4;
  color: #000000;
}

.times {
  position: absolute;
  width: 59rem;
  height: 56rem;
  left: 26rem;
  top: 4rem;

  font-family: "Jockey One";
  font-style: normal;
  font-weight: 4rem;
  font-size: 1.5rem;
  line-height: 4rem;

  color: #000000;
}
.time {
  position: absolute;
  width: 59rem;
  height: 56rem;
  left: 23rem;
  top: 4rem;

  font-family: "Jockey One";
  font-style: normal;
  font-weight: 400rem;
  font-size: 1.5rem;
  line-height: 4rem;

  color: #000000;
}
.cardPos {
  position: absolute;

  left: 1rem;
  top: 3rem;
  size: 9rem;
  z-index: 1;
}

.pinkPos {
  left: 52rem;
  top: 0rem;
  size: 3rem;
  position: absolute;
  z-index: 4;
}

.bgPos {
  left: 4rem;
  top: 13.9rem;
  size: 9rem;
  position: absolute;
}

.closePos {
  position: absolute;
  left: 90rem;
  top: 2rem;
  z-index: 4;
  padding: 0;
  border: none;
  background: transparent;
}
.closePos img {
  display: block;
  width: 4.5rem; /* 和你切图一致 */
  height: 4.5rem;
}

.editPos {
  position: absolute;
  left: 28rem;
  top: 3.5rem;
  z-index: 4;
  padding: 0;
  border: none;
  background: transparent;

  cursor: pointer;
}
.editPos img {
  display: block;
  width: 2rem; /* 和你切图一致 */
  height: 1.5rem;
}

.logo {
  position: absolute;
  width: 226px;
  height: 173px;
  left: 24px;
  top: 450px;
}
.leftPos1 {
  position: absolute;
  left: 65rem;
  top: 12.05rem;
  z-index: 4;
  padding: 0;
  border: none;
  background: transparent;

  cursor: pointer;
}
.leftPos1 img {
  display: block;
  width: 4.5rem; /* 和你切图一致 */
  height: 4rem;
}

.rightPos1 {
  position: absolute;
  left: 70rem;
  top: 12rem;
  z-index: 4;
  padding: 0;
  border: none;
  background: transparent;

  cursor: pointer;
}

.rightPos1 img {
  display: block;
  width: 4.5rem; /* 和你切图一致 */
  height: 4.3rem;
}
.picture {
  position: absolute; /* 使用绝对定位来精准控制位置 */
  top: 50%; /* 根据需要调整top和left，确定图片的位置 */
  left: 50%; /* 根据需要调整，水平居中 */
  transform: translate(-50%, -50%); /* 完全居中 */
  z-index: 10; /* 确保图片位于其他内容之上 */
}
